{
  "swagger": "2.0",
  "info": {
    "title": "Power BI Embed API",
    "version": "1.0.0"
  },
  "host": "api.powerbi.com",
  "schemes": ["https"],
  "paths": {
    "/v1.0/myorg/groups/{groupId}/reports/{reportId}": {
      "get": {
        "summary": "Get Report Details",
        "description": "Fetch report details including the embed URL",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Bearer {access_token}"
          }
        ],
        "responses": {
          "200": {
            "description": "Report Details",
            "schema": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "embedUrl": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/v1.0/myorg/groups/{groupId}/reports/{reportId}/GenerateToken": {
      "post": {
        "summary": "Generate Embed Token",
        "description": "Generate an embed token for the report",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Bearer {access_token}"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "accessLevel": { "type": "string", "default": "View" }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Embed Token",
            "schema": {
              "type": "object",
              "properties": {
                "token": { "type": "string" },
                "expiration": { "type": "string" }
              }
            }
          }
        }
      }
    }
  }
}
